body {
    font-family: 'Open Sans' , sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: red;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid rgb(0, 0, 0);
    display: flex;
}

#container div {
    width: 200px;
    height: 200px;
}